@import "../../vars.css";


.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px 10%;
  position: relative;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--color-text);
}

.title {
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 20px;
  font-family: var(--font-roboto);
  background: linear-gradient(90deg, #fff 70%, rgba(255, 255, 255, 0) 120%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.description {
  font-size: 1.5rem;
  font-family: var(--font-roboto);
  margin-bottom: 30px;
}

.contactBtn {
  text-decoration: none;
  background-color: var(--color-primary);
  color: var(--color-text);
  border-radius: 50px;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 15px 25px;
  margin-right: 10px;
  transition: 0.3s ease-in-out;
}

.contactBtn:hover {
  background-color: var(--color-primary-hover);
}

.imageWrapper {
  flex: 1;
  display: flex;
  justify-content: center;
}

.heroImg {
  width: 100%;
  border-radius: 50%;
  max-width: 450px;
  padding: 60px;
  animation: floating 3s infinite ease-in-out;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}


.buttonsContainer {
  display: "flex";
  flex-direction: "row";
  gap: 20px;
}

@keyframes floating {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(10px); }
}

@media (max-width: 830px) {
  .container {
      margin: 0px 5%;
    flex-direction: column-reverse;
    align-items: center;
    margin: 10px 10%;
  }

  .content {
    align-items: center;
    text-align: justify;
  }
}
